<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Authorization successful</title>
    <style>
    div {
        font-family: Verdana, Arial;
        margin: 0 auto;
        text-align: center;
        width: 400px;
        margin-bottom: 30px;
    }
    </style>
</head>
<body>
<div style="font-size: 14px; width: 500px; margin-top: 30%;">Login to last.fm successful. Close this window and the next track will scrobble all the music there.</div>
<div style="font-size: 12px; color: #999;">If it does not, try again to login or restart player. And some other customers break authorization,
so that after their use it is necessary to press here again.</div>

</body>
</html>
