<li id="{{owner_id}}_{{aid}}" class="track" data-artist="{{artist}}" data-title="{{title}}" data-url="{{url}}">
    <input type="checkbox">

    <img src="/images/icons/play.png" alt=">" class="playbutton">

    <b>
        <span class="playlist_artist" onclick="">{{artist}}</span>
    </b>

    <span class="playlist_title" onclick="">{{title}}</span>

    <span class="time">{{duration}}</span>

    <img src="/images/icons/delete.png" alt="X" title="Remove track" class="deletebutton">
    <img src="/images/icons/arrow_down.png" alt="X" title="Download mp3" class="downloadbutton" />
    <img src="/images/icons/love.png" alt="X" title="Add to favorites" class="lovebutton">
    <img src="/images/icons/link.png" alt="X" title="Open in a separate window" class="linkbutton">
    <img src="/images/icons/repeat.png" alt="X" title="Repeat track" class="repeatbutton">
</li>
