<div class="container">
<div class="row">
  <div class="search">
    <input type="text" name="query" class="search-query" id="music-search" placeholder="Add music to your playlists, or just use our music player. It's rad." />
    <button class="btn btn-primary search-button">Search</button>

    <div class="clearfix"></div>

    <div class="search-params">
        <input type="checkbox" name="duplicates" class="search-param-duplicates" id="music-search-param-duplicates" checked="checked" />
        <label for="music-search-param-duplicates" style="margin-right:10px;">Remove duplicates</label>
        <input type="checkbox" name="duplicates" class="search-param-artistonly" id="music-search-param-artistonly" checked="checked" />
        <label for="music-search-param-artistonly">Exactly by artist</label>
    </div>

  </div>

  <span class="list-buttons" id="music-search-buttons" data-list-id="music-tracks" data-list-name="search_list">
    <span class="list-addto-button">
      Add to...
      <span class="add_to_popup">
        <span class="add_to_popup-list"></span>
      </span>
    </span>
  </span>

  <div id="music-tracks"></div>

</div>
</div>
