<div class="container">
<div class="row">
<div class="column-50">
  <div class="sidebar_view" style="width:97.5%;">
    <div class="sidebar_view-add" id="create_playlist">
        <img src="/images/icons/add_circle.png" alt="" />
        <span>Create a playlist</span>
        <input type="text" maxlength="40" />
    </div>
    <h6 style="font-size:13px;text-align:center;margin-top:180px;margin-left:-5px;">Add music to your playlists <a onclick="gui.activateTab('music');" style="cursor:pointer;">here</a></h6>
  </div>

  <div class="with_sidebar_view">
    <h1>
        <span id="playlist_name"></span>
    </h1>

    <div id="playlist_tracks" class="scroll_panel sortable" style="margin-top:11px;"></div>

  </div>
</div>

<div class="column-50">
<div class="sidebar_view">
    <div id="playlists_sidebar"></div>
</div>
</div>

</div>
</div>
