<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name='yandex-verification' content='60a56478e386b81e' />
    <meta name="google-site-verification" content="B8zgWa65q_o7zEV-YAA3rmgq4AlT-l37W-2nNbDE6pc" />
    <link rel="icon" href="/images/hiplist-favicon.png">
    <link rel="apple-touch-icon" href="/images/logo.png" />

    <title>Hiplyst | Shared music playlists, ranked by the community</title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="/css/hiplyst.css" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function() {
            preview_item = 0;
            $(".preview_item").click(function() {
                $(this).fadeOut("fast");
                preview_item++;
                preview_item %= 4;
                $("#preview_item_" + preview_item).fadeIn("fast");
            });
        });
    </script>
    {% block js %}
    {% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a id="brand" class="navbar-brand" href="#" style="color:#ccc; text-decoration:none;">hip<font face="cursive" style="color:#f90;font-size:28px;">lyst</font></a>
            </div>
            <div class="navbar-collapse collapse">
              <form class="navbar-form navbar-left">
                  <input type="text" name="query" id="top-search-filter" placeholder="Search for songs, artists, and more." style="margin-top:2px;padding-left:4px;"/>
              </form>
              <ul class="nav navbar-nav">
                <li><a href="#make-playlist"><span class="glyphicon glyphicon-edit"></span> Create Playlist</a></li>
              </ul>

            <div id="top-controls">
                <div id="top-controls-prev"><span class="glyphicon glyphicon-step-backward white"></span></div>
                <div id="top-controls-play"><span class="glyphicon glyphicon-play white"></div>
                <div id="top-controls-next"><span class="glyphicon glyphicon-step-forward white"></span></div>
            </div>

            <div id="top-info">
                <div id="top-info-title"></div>
                <div id="top-info-artist"></div>

                <div id="top-info-progress">
                    <div id="top-info-progress-left_time"></div>
                    <div id="top-info-progress-slider">
                        <div style="position: absolute; left: 0; right: 10px;">
                            <div class="ui-slider-handle"></div>
                        </div>
                        <div id="loading_bar"></div>
                    </div>
                    <div id="top-info-progress-right_time"></div>
                </div>

                <div id="top-controls">
                  <div id="top-controls-volume">
                    <div id="volume_slider">
                        <div style="position: relative; width: 20px;">
                            <div class="ui-slider-handle"></div>
                        </div>
                    </div>
                  </div>
                </div>

                <div id="top-info-nowplaying" onclick="$('#nowplaying_list').toggle(); event.preventDefault();">
                    <img src="/images/icons/small/black/list_num_icon&16.png" alt="!" />
                </div>

            </div>

        <div id="nowplaying_list">
            <div id="nowplaying_list-header">
                <strong>Now playing</strong>
                <div id="nowplaying-clear" title="Clean"></div>
                <div id="shuffle" title="Mix"></div>
            </div>
            <div id="nowplaying_list-list"></div>
        </div>
              
              <div id="user-menu">
                <p class="navbar-text navbar-right">Signed in as <a href="#" id="user-menu-trigger" onclick="toggle_visibility('user-menu-open', 'user-menu');" class="navbar-link">{{user.username}}</a></p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div id="current-playlist">
    </div>
    <div id="user-menu-open">
      <div class="header">Hey, {{ user.username }}!</div>     
      <div class="view-my-profile menu-link"><span class="glyphicon glyphicon-user"></span> <a href="/#user" style="none">View my profile</a></div>
      <div class="user-settings menu-link"><span class="glyphicon glyphicon-cog"></span> Settings</div>
      <div class="logout menu-link"><span class="glyphicon glyphicon-log-out"></span> Not you? <a href="/logout/">Logout</a></div>
    </div>

    <div id="big-container">
        
        <div id="container">
            <div id="mode-list">
                <div class="mode-list-item">Home</div>
                <div class="mode-list-item active" id="tab-title-user" onclick="gui.activateTab('user');">{{ user.username }}'s Profile</div>
                <div class="mode-list-item" id="tab-title-playlists" onclick="gui.activateTab('playlists');">Playlists</div>
                <div class="mode-list-item" id="tab-title-music" onclick="gui.activateTab('music');">Music</div>
                <div class="mode-list-item" id="tab-title-artist" onclick="gui.activateTab('artist');">Artists</div>
            </div>

            <div id="content-frame">
                <div id="tab-user" class="tab" style="display: none;">
                    {% include "modules/user.html" %}
                </div>

                <div id="tab-playlists" class="tab" style="display: none;">
                    {% include "modules/playlists.html" %}
                </div>

                <div id="tab-music" class="tab" style="display: none;">
                    {% include "modules/music.html" %}
                </div>

                <div id="tab-artist" class="tab" style="display: none;">
                    {% include "modules/artist.html" %}
                </div>

            </div>
        </div>

        <div id="vk_api_transport" style="display: none;"></div>

        <div style="display: none;">
            <div id="access_token">{{ACCESS_TOKEN}}</div>
        </div>

    </div>

    {% block body %}
    {% endblock %}

    {% block additional_block %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
    </div><!-- /.container -->

    <script type="text/javascript">
      $('.quicksearch').typeahead({                                
        name: 'quicksearch',                                                          
        local: [
          "The xx",
          "The Ramones",
          "The Clash"
        ]                                                                   
      });
    </script>
    {% block extra-js %}
        <script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js" charset="windows-1251"></script>
        <script type="text/javascript" src="/js/frameworks/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/js/frameworks/jquery-ui-1.8.4.custom.min.js"></script>
		<script type="text/javascript" src="/js/frameworks/soundmanager2.js"></script>
    	<script type="text/javascript" src="/js/frameworks/mustache.js"></script>

        <!-- Main -->
        <script type="text/javascript" src="/js/main.js?v=3.0.9"></script>

        <!-- Filters -->
        <script type="text/javascript" src="/js/classes/Filters.js?v=3.0.9"></script>

        <!-- Tracks -->
        <script type="text/javascript" src="/js/classes/Tracks/Track.js?v=3.0.9"></script>

        <!-- Info -->
        <script type="text/javascript" src="/js/classes/Info/AbstractInfo.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Info/LastFmInfo.js?v=3.0.9"></script>

        <!-- Lists -->
        <script type="text/javascript" src="/js/classes/Lists/AbstractList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/LoveList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/MyAudioList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/NowPlayingList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/RecentList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/RecommendList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/SearchList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/ArtistSearchList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/MusicSearchList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/UserPlayList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/AlbumList.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Lists/RadioList.js?v=3.0.9"></script>

        <!-- Scrobblers -->
        <script type="text/javascript" src="/js/classes/Scrobblers/LastFmScrobbler.js?v=3.0.9"></script>

        <!-- Search engines -->
        <script type="text/javascript" src="/js/classes/Search/AbstractSearchEngine.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Search/VKSearchEngine.js?v=3.0.9"></script>


        <!-- Controllers -->
        <script type="text/javascript" src="/js/classes/CoversController.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/ListController.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/PlaybackController.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/ScrobblerController.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/SearchController.js?v=3.0.9"></script>

        <!-- Main -->
        <script type="text/javascript" src="/js/classes/Gui/UserGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui/MusicGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui/ArtistGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui/AlbumsGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui/PlaylistsGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui/RecommendationsGui.js?v=3.0.9"></script>

        <script type="text/javascript" src="/js/classes/Gui/ListGui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Gui.js?v=3.0.9"></script>
        <script type="text/javascript" src="/js/classes/Player.js?v=3.0.9"></script>

        <script type="text/javascript" src="http://yandex.st/json2/2009-09-29/json2.min.js"></script>
    {% endblock %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter1689589 = new Ya.Metrika({id:1689589,
                        clickmap:true,
                        trackLinks:true,
                        trackHash:true});
            } catch(e) { }
        });
        
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/1689589" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/frameworks/typeahead.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.quicksearch .typeahead').typeahead({
                name: 'quicksearch',
                local: [
                    "The xx",
                    "The Ramones",
                    "The Beatles",
                    "The The"
                ]
            });
        });
    </script>
    <script type="text/javascript">
    //toggle visibility of user menu when username is clicked in menu bar
    function toggle_visibility(elementId, selectorId) {
       console.log("toggle");
       var e = document.getElementById(elementId);
       var trigger = document.getElementById(selectorId);
       if(e.style.display == 'block'){
          e.style.display = 'none';
       } else {
          if (elementId == "user-menu-open"){
            var offset = (findPosX(trigger)).toString();
            e.style.right = offset+"px";
          }else{
            var offset = (findPosX(trigger)-75).toString();
            e.style.left = offset+"px";
          }
          e.style.display = 'block';
      }
    }

    function findPosX(obj) {
    var curleft = 0;
    if (obj.offsetParent) {
        while (1) {
            curleft+=obj.offsetLeft;
            if (!obj.offsetParent) {
                break;
            }
            obj=obj.offsetParent;
        }
    } else if (obj.x) {
        curleft+=obj.x;
    }
    return curleft;
    }


    //Dismiss user menu if anything else is clicked.
    $(document).click(function(e) {
      var target = e.target;
      if (!$(target).is('#user-menu-open') && !$(target).parents().is('#user-menu-open')
          && !$(target).is('#user-menu-trigger')) {
        console.log("user-menu-hide");
        $('#user-menu-open').hide();
      }
      if (!$(target).is('#current-playlist') && !$(target).parents().is('#current-playlist')
          && !$(target).is('#current-playlist-trigger') && !$(target).parents().is('#current-playlist-trigger')) {
        console.log("current-playlist-hide");
        $('#current-playlist').hide();
      }
    });
    </script>
  </body>
</html>
