{% extends "base.html" %}

{% block css %}
    <link type="text/css" href="/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/bg-lion.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>New to hiplyst?</h1>
              <p>Create playlists from our vast supply of music and share with friends.</p>
              <p><a class="btn btn-lg btn-primary" href="/register/" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/bg-mac.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <p>Receive rep points if you make good playlists.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/bg-abstract.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>But most importantly.</h1>
              <p>Discover new music.</p></p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div id="footer">
      <font style="text-shadow:none;margin-left:75px;">&copy; 2013. Built with love by<a style="margin-left:5px;margin-right:5px;color:#385B9F;" href="https://twitter.com/pswilson14">Nick Roberts</a><font style="margin-left:-4px;">.</font></font>
    </div>

    <!--
    <div id="preview_background">
    <div id="preview_block" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="preview_header">
            Find the music you love.
        </div>
        <div class="preview_signup">
            New to Hiplyst? Create an account (it's free!)
                <form method="post" action="/register/"><br>
                    <input type="text" id="login" name="login" placeholder="Username" /><br>
                    <input type="text" id="email" name="email" placeholder="Email Address" /><br>
                    <input type="password" id="password" name="password" placeholder="Password" /><br><br>
                    <input class="blue" style="border-color:#EEEEEE;" type="submit" value="Sign up"/>
                </form>
        </div>
        <div class="quicksearch big_search">
            <input class="typeahead" type="text" placeholder="Search for artists, songs, playlists and more.">
        </div>
    </div>
    </div>-->

{% endblock %}


{% block additional_block %}
{% endblock %}
