{% extends "base.html" %}

{% block css %}
    <link type="text/css" href="/css/landing.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container">
      <center><h2 class="form-signin-heading" style="margin-top:150px;">Register</h2></center>
      <form role="form" action="/register/" method="post">
        <div class="form-group">
          <center><label for="login"></label><input type="text" style="margin-bottom:-24px;width:300px;" placeholder="Username" name="login" class="form-control"></center>
        </div>
        <div class="form-group">
          <center><label for="password"></label><input type="password" style="width:300px;padding-left:12px;padding-top:0px;padding-bottom:0;" placeholder="Password" id="password" name="password" class="form-control"></center>
        </div>
        <center><button type="submit" class="btn btn-primary">Sign up</button></center>
      </form>
    </div>

{% endblock %}

{% block additional_block %}
{% endblock %}

    <!--<div id="footer">
      <font style="color:white;text-shadow:none;margin-left:20px;">&copy; 2013. Built with love by<a style="margin-left:5px;margin-right:5px;" href="https://twitter.com/pswilson14">Nick Roberts</a>and<a style="margin-left:5px;margin-right:5px;" href="https://twitter.com/pswilson14">Patrick Wilson</a><font style="margin-left:-4px;color:white;">.</font></font>
    </div>-->

{% block extra-js %}

    <script type="text/javascript" charset="utf-8" src="/js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/openapi.js" charset="windows-1251"></script>
    <script type="text/javascript">
        $(function() {
            preview_item = 0;
            $(".preview_item").click(function() {
                $(this).fadeOut("fast");
                preview_item++;
                preview_item %= 4;
                $("#preview_item_" + preview_item).fadeIn("fast");
            });
        });
    </script>

    <script type="text/javascript">
    $(function(){
      $('#loginform').submit(function(e){
        return false;
      });
  
      $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
    });
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter1689589 = new Ya.Metrika({id:1689589,
                        clickmap:true,
                        trackLinks:true,
                        trackHash:true});
            } catch(e) { }
        });
        
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/1689589" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

{% endblock %}
